
body {
    background-color:#ccc;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 110px;
    margin-bottom: 35px;
    text-shadow: 0.05em 0.05em black;
}
h2{
    font-size: 40px;
    text-shadow: 0.02em 0.02em tomato;
}
h3{
    font-size: 25px;
    text-shadow: 0.02em 0.02em tomato;
}
h4{
    font-size: 25px;
    text-shadow: 0.02em 0.02em tomato;
}
h1, h2, h3, h4 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
table, tr, td {
    background-color: rgb(233, 227, 227);
    border: 2px solid rgb(58, 24, 18);
    width: 600px;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: tomato;
}
p {
    margin: 20px 350px 80px 350px;
    font-family: Arial, Helvetica, sans-serif;
    
}
footer {
    background-color: tomato;
    text-align: center;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}


main  {
    display:flex;
    align-items: center;
    flex-flow: column;
}